
:root {
    --primary: rgba(229, 159, 195, 0.8);
    --background-primary: rgba(230, 230, 250, 1);
    --background-button: rgba(118, 118, 184, 0.4);
    --text-dark: rgba(68, 68, 68, 1);
    --text-header: rgba(118, 118, 184, 1);
    --shadow: rgba(0, 0, 0, 0.3);
}
